{%- assign social = site.moving.social_links -%}

  {%- if social.github -%}
  <li>
    <a
      class="black-link"
      target="_blank"
      href="https://github.com/{{ social.github | cgi_escape | escape }}"
    > Github</a>
  </li>
  {%- endif -%}
  {%- if social.bam_github -%}
  <li>
    <a
      class="black-link"
      target="_blank"
      href="https://github.com/{{ social.bam_github | cgi_escape | escape }}"
    > BAM Github</a>
  </li>
  {%- endif -%} {%- if social.steam -%}
  <li>
    <a
      class="black-link"
      target="_blank"
      href="https://steamcommunity.com/id/{{ social.steam | cgi_escape | escape }}"
    > Steam</a>
  </li>
  {%- endif -%} {%- if social.twitter -%}
  <li>
    <a
      class="black-link"
      target="_blank"
      href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
    > Twitter</a>
  </li>
  {%- endif -%} {%- if social.reddit -%}
  <li>
    <a
      class="black-link"
      target="_blank"
      href="https://reddit.com/user/{{ social.reddit | cgi_escape | escape }}"
    >
      Reddit
    </a>
  {%- endif -%}
